html body{
    overflow: hidden;
}

.flex-container{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    min-width: 1000px;
    height: 100vh;
}
.flex-container div{
    height: 100vh;
    overflow: hidden;
}