html body{
    overflow-x: scroll;
    overflow-y: hidden;
}

.wrapper{
    height: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.flex-container{
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 100vh;
}
.flex-container div{
    height: 100vh;
    min-width: 250px;
    overflow: hidden;
}